html {
    scroll-behavior: smooth;
}

body {
    background-color: azure;
    color: #202020;
}

h1 {
    color: green;
    font-size: 28px;
}

h2 {
    font-style: italic;
}

ul {
    list-style: square;
}

a {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

a.active {
    color: darkblue;
    text-decoration: underline;
}

a:hover {
    color: blue;
}

.header {
    padding: 10px 0;
    margin: 0 auto;
    max-width: 1280px;
}

.header__nav {
    display: flex;
    gap: 16px;
    align-items: center;
}

.header__link {
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    color: #000;
}

.header__link.active {
    color: darkblue;
    text-decoration: underline;
}

.header__link:hover {
    color: blue;
}

.main {
    padding: 32px 0;
    max-width: 768px;
    margin: 0 auto;
}

.main__img {
    max-width: 480px;
    height: auto;
    object-fit: cover;
    margin: 5px;
    border: 3px solid #000;
    float: right;
}